
<!-- Show loading indicator or any other UI element -->
<div *ngIf="(loading$ | async)" class="alert alert-success" role="alert">
    Loading... (Loading added for testing purpose only...)
</div>


<div *ngIf="error$ | async as error" class="alert alert-danger" role="alert">
    <div>{{ error }}</div>
</div>

<div class="card-columns">
    <ng-container  *ngFor="let item of posts$ | async"  > 
    <div class="card bg-light " (click)="viewMore(item.id)">
      <div class="card-body"  [style.backgroundColor]="item.headerBackgroundColor">
        <h5 class="card-title" >{{ (item.title.length>35)? (item.title |
            slice:0:35)+'..':(item.title) }}</h5>
        <p class="card-text">{{ (item.body.length>100)? (item.body | slice:0:100)+'...--':(item.body) }}</p>
      </div>
      <div *ngIf="item.reactions > 0" class="card-footer"  [style.backgroundColor]="item.backgroundColor">
        <small class="">Here are {{item.reactions}} reactions from user!</small>
      </div>
    </div>
</ng-container>
  </div>

