<style>
    span{
        color: red;
    }
</style>

<div [formGroup]="form">
    <div [ngSwitch]="control.type">
      <label for="{{ control.name }}">{{ control.label }}</label>
  
      <!-- Render text input -->
      <div *ngSwitchCase="'text'">
        <input [type]="'text'" [formControlName]="control.name">
        <div *ngIf="control.required && form.get(control.name)?.invalid && form.get(control.name)?.touched">
          <span *ngIf="form.get(control.name)?.errors?.['required']">This field is required</span>
        </div>
      </div>
      
      <!-- Render email input -->
      <div *ngSwitchCase="'email'">
        <input [type]="'email'" [formControlName]="control.name" [ngClass]="{'error': control.required && form.get(control.name)?.invalid && form.get(control.name)?.touched}">
        <div *ngIf="control.required && form.get(control.name)?.invalid && form.get(control.name)?.touched">
          <span *ngIf="form.get(control.name)?.errors?.['email']">Invalid email format</span>
          <span *ngIf="form.get(control.name)?.errors?.['required']">This field is required</span>
        </div>
      </div>
  
      <!-- Render select dropdown -->
      <div *ngSwitchCase="'select'">
        <select [formControlName]="control.name">
          <option value="">Select an option</option>
          <option *ngFor="let option of control.options" [value]="option">{{ option }}</option>
        </select>
        <div *ngIf="control.required && form.get(control.name)?.invalid && form.get(control.name)?.touched">
          <span *ngIf="form.get(control.name)?.errors?.['required']">This field is required</span><br/>
        </div>
      </div>
  
      <!-- Render textarea -->
      <div *ngSwitchCase="'textarea'">
        <textarea [formControlName]="control.name" rows="4" cols="50"></textarea>
        <div *ngIf="control.required && form.get(control.name)?.invalid && form.get(control.name)?.touched">
          <span *ngIf="form.get(control.name)?.errors?.['required']">This field is required</span>
        </div>
      </div>
  
      <!-- Default case if the field type is not matched -->
      <span *ngSwitchDefault>Unsupported field type</span>
    </div>
  </div>
  