<div [formGroup]="form">
  <div [ngSwitch]="control.type">
    <label *ngIf="control.type !== 'checkbox'" for="{{ control.name }}">{{ control.label }}
      <span *ngIf="control.required">*</span>
    </label>
    <!-- Render input -->
      <app-input *ngSwitchCase="control.type === 'text' || control.type === 'email' ? control.type : '' "  [control]="control" [form]="form" />

    <!-- Render select dropdown -->
      <app-select *ngSwitchCase="'select'" [control]="control" [form]="form" />

    <!-- Render textarea -->
      <app-textarea *ngSwitchCase="'textarea'" [control]="control" [form]="form" />

    <!-- Render datalist -->
    <app-datalist *ngSwitchCase="'datalist'" [control]="control" [form]="form" />

    <!-- Render radio -->
    <app-radio *ngSwitchCase="'radio'" [control]="control" [form]="form" />

    <!-- Render checkbox -->
    <app-checkbox *ngSwitchCase="'checkbox'" class="form-group  ol-md-{{ col }}"[control]="control" [form]="form" />
    

    <div *ngIf="control.required && form.get(control.name)?.invalid && form.get(control.name)?.touched">
      <span *ngIf="form.get(control.name)?.errors?.['required']"
        [innerHTML]="getErrorMessage(control.name, control.label)"></span>
    </div>
    <!-- Default case if the field type is not matched -->
    <span *ngSwitchDefault>Unsupported field type</span>
  </div>
</div>